# fly.toml file generated for tafel-route-backend on 2023-03-08T21:21:07+01:00

app = "tafel-route-backend"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  PORT = "3000"
  JWT_TIMEOUT_DURATION = "2 hours"

[experimental]
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 3000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

  [[services.ports]]
    handlers = ["http"]
    port = 80
    force_https = true  # optional

  [[services.ports]]
    handlers = ["tls", "http"]
    port = "443"